In [1]:
import pandas as pd
import numpy as np

## section- **1**

### using pandas, from the list below create a series and print to the console

>stocks = ['PLW', 'CDR', '11B', 'TEN']

In [2]:
stocks = pd.Series(['PLW', 'CDR', '11B', 'TEN'])

In [3]:
print(stocks)

0    PLW
1    CDR
2    11B
3    TEN
dtype: object

### using pandas,from the dictionary below create a pandas series and print it to the console

>stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}

In [4]:
stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
series = pd.Series(stocks)

In [5]:
print(series)

PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
dtype: float64

### the following series is given,convert it to a python list and print the list to the console.

>PLW    387.0  
CDR    339.5  
TEN    349.5  
11B    391.0  
dtype: float64

>using tolist()

In [6]:
print(series.tolist())

[387.0, 339.5, 349.5, 391.0]

### the following series is given, convert it to a dataframe and set the column name to "price"

>PLW    387.0  
CDR    339.5  
TEN    349.5  
11B    391.0  
dtype: float64

In [7]:
df = pd.DataFrame(series,columns=['price'])
print(df)

     price
PLW  387.0
CDR  339.5
TEN  349.5
11B  391.0

### using numpy and pandas, create the following series

>101      10.0  
102      20.0  
103      30.0  
104      40.0  
105      50.0  
106      60.0  
107      70.0  
108      80.0  
109      90.0  
dtype: float64

In [8]:
series2 = pd.Series(np.arange(10,100,10),dtype=np.float32,index=np.arange(101,110))

In [9]:
print(series2)

101    10.0
102    20.0
103    30.0
104    40.0
105    50.0
106    60.0
107    70.0
108    80.0
109    90.0
dtype: float32

### following series is given, convert it to int type and print to the console

```
series = pd.Series(['001', '002', '003', '004'], list('abcd'))
```

> using to_numeric()

In [10]:
series = pd.Series(['001', '002', '003', '004'], list('abcd'))

In [11]:
pd.to_numeric(series)

a    1
b    2
c    3
d    4
dtype: int64

> using astype()

In [12]:
series.astype(np.int32)

a    1
b    2
c    3
d    4
dtype: int32

### the following series is given, add two elements to this series.

> key:"BBT",value:25.5  
key:"F51",value:19.2

```
stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
quotations = pd.Series(data=stocks)
```

>using append()

In [13]:
stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
quotations = pd.Series(data=stocks)

In [14]:
df = pd.Series(dict(BBT=25.5,F51=19.2))

In [15]:
quotations.append(df)

PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
BBT     25.5
F51     19.2
dtype: float64

>using dict key value pairs

In [16]:
quotations

PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
dtype: float64

In [17]:
quotations['BBT']=25.5
quotations['F51']=19.2

In [18]:
quotations

PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
BBT     25.5
F51     19.2
dtype: float64

### the following series is given,convert it to a dataframe and rest the index and set column names to "ticker" and "price"

```
stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0, 'BBT': 25.5, 'F51': 19.2}
quotations = pd.Series(data=stocks)
```

In [19]:
stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0, 'BBT': 25.5, 'F51': 19.2}
quotations = pd.Series(data=stocks)

In [20]:
df2 = pd.DataFrame(quotations,index=None)
df2

         0
PLW  387.0
CDR  339.5
TEN  349.5
11B  391.0
BBT   25.5
F51   19.2

### create the following dataframe and print to the console

| |company|price|ticker|
|---|---|---|---|
0|Amazon|2375.0|AMZN.US  
1|Microsoft|178.6|MSFT.US  
2|Facebook|179.2|FB.US

In [21]:
df = pd.DataFrame(dict(company=['Amazon','Microsoft','Facebook'],price=[2375.0,178.6,179.2],ticker=['AMZN.US','MSFT.US','FB.US']))

In [22]:
print(df)

     company   price   ticker
0     Amazon  2375.0  AMZN.US
1  Microsoft   178.6  MSFT.US
2   Facebook   179.2    FB.US

### convert the first column of dataframe to index and print to the console

| |company|price|ticker|
|---|---|---|---|
0|Amazon|2375.0|AMZN.US  
1|Microsoft|178.6|MSFT.US  
2|Facebook|179.2|FB.US

In [23]:
df.set_index('company')

            price   ticker
company
Amazon     2375.0  AMZN.US
Microsoft   178.6  MSFT.US
Facebook    179.2    FB.US

## section- **2**

### create datetimeindex object containg ```yyyy-mm-dd``` format dates for all dates for dec 2021 and print it to the console

```
DatetimeIndex(['2021-12-01', '2021-12-02', '2021-12-03', '2021-12-04',
               '2021-12-05', '2021-12-06', '2021-12-07', '2021-12-08',
               '2021-12-09', '2021-12-10', '2021-12-11', '2021-12-12',
               '2021-12-13', '2021-12-14', '2021-12-15', '2021-12-16',
               '2021-12-17', '2021-12-18', '2021-12-19', '2021-12-20',
               '2021-12-21', '2021-12-22', '2021-12-23', '2021-12-24',
               '2021-12-25', '2021-12-26', '2021-12-27', '2021-12-28',
               '2021-12-29', '2021-12-30', '2021-12-31'],
              dtype='datetime64[ns]', freq='D')
              ```

> using date_range()

In [24]:
date=pd.date_range(start="2021-12-01",periods=31)
print(date)

DatetimeIndex(['2021-12-01', '2021-12-02', '2021-12-03', '2021-12-04',
               '2021-12-05', '2021-12-06', '2021-12-07', '2021-12-08',
               '2021-12-09', '2021-12-10', '2021-12-11', '2021-12-12',
               '2021-12-13', '2021-12-14', '2021-12-15', '2021-12-16',
               '2021-12-17', '2021-12-18', '2021-12-19', '2021-12-20',
               '2021-12-21', '2021-12-22', '2021-12-23', '2021-12-24',
               '2021-12-25', '2021-12-26', '2021-12-27', '2021-12-28',
               '2021-12-29', '2021-12-30', '2021-12-31'],
              dtype='datetime64[ns]', freq='D')

### create datetimeindex object containg ```yyyy-mm-dd``` format dates for all mondays for 2021 and print it to the console

```
DatetimeIndex(['2021-01-04', '2021-01-11', '2021-01-18', '2021-01-25',
               '2021-02-01', '2021-02-08', '2021-02-15', '2021-02-22',
               '2021-03-01', '2021-03-08', '2021-03-15', '2021-03-22',
               '2021-03-29', '2021-04-05', '2021-04-12', '2021-04-19',
               '2021-04-26', '2021-05-03', '2021-05-10', '2021-05-17',
               '2021-05-24', '2021-05-31', '2021-06-07', '2021-06-14',
               '2021-06-21', '2021-06-28', '2021-07-05', '2021-07-12',
               '2021-07-19', '2021-07-26', '2021-08-02', '2021-08-09',
               '2021-08-16', '2021-08-23', '2021-08-30', '2021-09-06',
               '2021-09-13', '2021-09-20', '2021-09-27', '2021-10-04',
               '2021-10-11', '2021-10-18', '2021-10-25', '2021-11-01',
               '2021-11-08', '2021-11-15', '2021-11-22', '2021-11-29',
               '2021-12-06', '2021-12-13', '2021-12-20', '2021-12-27'],
              dtype='datetime64[ns]', freq='W-MON')
              ```

In [27]:
date=pd.date_range(start="2021-01-01",end='2021-12-31',freq='W-MON')
print(date)

DatetimeIndex(['2021-01-04', '2021-01-11', '2021-01-18', '2021-01-25',
               '2021-02-01', '2021-02-08', '2021-02-15', '2021-02-22',
               '2021-03-01', '2021-03-08', '2021-03-15', '2021-03-22',
               '2021-03-29', '2021-04-05', '2021-04-12', '2021-04-19',
               '2021-04-26', '2021-05-03', '2021-05-10', '2021-05-17',
               '2021-05-24', '2021-05-31', '2021-06-07', '2021-06-14',
               '2021-06-21', '2021-06-28', '2021-07-05', '2021-07-12',
               '2021-07-19', '2021-07-26', '2021-08-02', '2021-08-09',
               '2021-08-16', '2021-08-23', '2021-08-30', '2021-09-06',
               '2021-09-13', '2021-09-20', '2021-09-27', '2021-10-04',
               '2021-10-11', '2021-10-18', '2021-10-25', '2021-11-01',
               '2021-11-08', '2021-11-15', '2021-11-22', '2021-11-29',
               '2021-12-06', '2021-12-13', '2021-12-20', '2021-12-27'],
              dtype='datetime64[ns]', freq='W-MON')

### create datetimeindex object containg dates in the format```yyyy-mm-dd  hh:mm:ss``` for jan 2021 with a time interval of 1H and print it to the console

```
DatetimeIndex(['2021-01-01 00:00:00', '2021-01-01 01:00:00',
               '2021-01-01 02:00:00', '2021-01-01 03:00:00',
               '2021-01-01 04:00:00', '2021-01-01 05:00:00',
               '2021-01-01 06:00:00', '2021-01-01 07:00:00',
               '2021-01-01 08:00:00', '2021-01-01 09:00:00',
               '2021-01-01 10:00:00', '2021-01-01 11:00:00',
               '2021-01-01 12:00:00', '2021-01-01 13:00:00',
               '2021-01-01 14:00:00', '2021-01-01 15:00:00',
               '2021-01-01 16:00:00', '2021-01-01 17:00:00',
               '2021-01-01 18:00:00', '2021-01-01 19:00:00',
               '2021-01-01 20:00:00', '2021-01-01 21:00:00',
               '2021-01-01 22:00:00', '2021-01-01 23:00:00'],
              dtype='datetime64[ns]', freq='H')
              ```

In [38]:
date=pd.date_range(start="2021-01-01",periods=30,freq='H')
print(date)

DatetimeIndex(['2021-01-01 00:00:00', '2021-01-01 01:00:00',
               '2021-01-01 02:00:00', '2021-01-01 03:00:00',
               '2021-01-01 04:00:00', '2021-01-01 05:00:00',
               '2021-01-01 06:00:00', '2021-01-01 07:00:00',
               '2021-01-01 08:00:00', '2021-01-01 09:00:00',
               '2021-01-01 10:00:00', '2021-01-01 11:00:00',
               '2021-01-01 12:00:00', '2021-01-01 13:00:00',
               '2021-01-01 14:00:00', '2021-01-01 15:00:00',
               '2021-01-01 16:00:00', '2021-01-01 17:00:00',
               '2021-01-01 18:00:00', '2021-01-01 19:00:00',
               '2021-01-01 20:00:00', '2021-01-01 21:00:00',
               '2021-01-01 22:00:00', '2021-01-01 23:00:00',
               '2021-01-02 00:00:00', '2021-01-02 01:00:00',
               '2021-01-02 02:00:00', '2021-01-02 03:00:00',
               '2021-01-02 04:00:00', '2021-01-02 05:00:00'],
              dtype='datetime64[ns]', freq='H')

### create the following dataframe and print to the console

| |day|day_of_year|
|---|---|---|
|0|2021-03-01|60|
1  |2021-03-02|           61
2  |2021-03-03|           62
3  |2021-03-04|          63
4  |2021-03-05|           64
5  |2021-03-06|           65
6  |2021-03-07|           66
7  |2021-03-08|           67
8  |2021-03-09|           68
9  |2021-03-10|           69
10 |2021-03-11|           70
11 |2021-03-12|           71
12 |2021-03-13|           72
13 |2021-03-14|           73
14 |2021-03-15|           74
15 |2021-03-16|           75
16 |2021-03-17|           76
17 |2021-03-18|           77
18 |2021-03-19|           78
19 |2021-03-20|           79
20 |2021-03-21|           80
21 |2021-03-22|           81
22 |2021-03-23|           82
23 |2021-03-24|           83
24 |2021-03-25|           84
25 |2021-03-26|           85
26 |2021-03-27|           86
27 |2021-03-28|           87
28 |2021-03-29|           88
29 |2021-03-30|          89
30 |2021-03-31|           90

In [44]:
date=pd.date_range(start="2021-03-01",periods=31)
df1 = pd.DataFrame(dict(day=date,day_of_year=np.arange(60,91)))

In [45]:
df1

          day  day_of_year
0  2021-03-01           60
1  2021-03-02           61
2  2021-03-03           62
3  2021-03-04           63
4  2021-03-05           64
5  2021-03-06           65
6  2021-03-07           66
7  2021-03-08           67
8  2021-03-09           68
9  2021-03-10           69
10 2021-03-11           70
11 2021-03-12           71
12 2021-03-13           72
13 2021-03-14           73
14 2021-03-15           74
15 2021-03-16           75
16 2021-03-17           76
17 2021-03-18           77
18 2021-03-19           78
19 2021-03-20           79
20 2021-03-21           80
21 2021-03-22           81
22 2021-03-23           82
23 2021-03-24           83
24 2021-03-25           84
25 2021-03-26           85
26 2021-03-27           86
27 2021-03-28           87
28 2021-03-29           88
29 2021-03-30           89
30 2021-03-31           90

### create the following dataframe from the given dictionaries and set the index date from jan 01,2020 and print to the console

| |normal|   uniform|  binomial|
|---|---|---|---|
|2020-01-01|  0.496714|  0.167483 |        0
|2020-01-02| -0.138264|  0.104568|         0
|2020-01-03|  0.647689|  0.636430|         0
|2020-01-04|  1.523030|  0.706476|         0
|2020-01-05| -0.234153|  0.031586|         1
| |...|...|...|...
|2022-09-22| -0.281100|  0.280683|         1
|2022-09-23|  1.797687|  0.206993|         0
|2022-09-24|  0.640843|  0.516573|         0
|2022-09-25| -0.571179|  0.005506|         1
|2022-09-26|  0.572583|  0.007664|         0

[1000 rows x 3 columns]

```
np.random.seed(42)
data_dict = {
    'normal': np.random.normal(loc=0, scale=1, size=1000),
    'uniform': np.random.uniform(low=0, high=1, size=1000),
    'binomial': np.random.binomial(n=1, p=0.2, size=1000)
}
```

In [46]:
np.random.seed(42)
data_dict = {
    'normal': np.random.normal(loc=0, scale=1, size=1000),
    'uniform': np.random.uniform(low=0, high=1, size=1000),
    'binomial': np.random.binomial(n=1, p=0.2, size=1000)
}

In [52]:
date=pd.date_range(start="2020-01-01",periods=1000)

In [53]:
df2.shape

(1000, 3)

In [54]:
df2 = pd.DataFrame(data_dict,index=[date])

In [55]:
df2

              normal   uniform  binomial
2020-01-01  0.496714  0.167483         0
2020-01-02 -0.138264  0.104568         0
2020-01-03  0.647689  0.636430         0
2020-01-04  1.523030  0.706476         0
2020-01-05 -0.234153  0.031586         1
...              ...       ...       ...
2022-09-22 -0.281100  0.280683         1
2022-09-23  1.797687  0.206993         0
2022-09-24  0.640843  0.516573         0
2022-09-25 -0.571179  0.005506         1
2022-09-26  0.572583  0.007664         0

[1000 rows x 3 columns]

### from the dataframe created for the previous question, print the first ten rows and the an blank line and last five rows to console

In [73]:
series = pd.Series(dtype=np.float64)
df3 = df2.head(10).append(series,ignore_index=True)
df3.append(df3.tail(5))

      normal   uniform  binomial
0   0.496714  0.167483       0.0
1  -0.138264  0.104568       0.0
2   0.647689  0.636430       0.0
3   1.523030  0.706476       0.0
4  -0.234153  0.031586       1.0
5  -0.234137  0.936212       0.0
6   1.579213  0.051971       0.0
7   0.767435  0.541296       0.0
8  -0.469474  0.709061       1.0
9   0.542560  0.870969       0.0
10       NaN       NaN       NaN
6   1.579213  0.051971       0.0
7   0.767435  0.541296       0.0
8  -0.469474  0.709061       1.0
9   0.542560  0.870969       0.0
10       NaN       NaN       NaN

### from the dataframe created for the previous question, print the basic information regarding the dataframe and the a blank line and basic statistical info about dataframe to console

>use info() and describe()

In [74]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   normal    10 non-null     float64
 1   uniform   10 non-null     float64
 2   binomial  10 non-null     float64
dtypes: float64(3)
memory usage: 392.0 bytes

In [75]:
df2.describe()

            normal      uniform    binomial
count  1000.000000  1000.000000  1000.00000
mean      0.019332     0.503649     0.19200
std       0.979216     0.288357     0.39407
min      -3.241267     0.003218     0.00000
25%      -0.647590     0.247199     0.00000
50%       0.025301     0.516126     0.00000
75%       0.647944     0.746319     0.00000
max       3.852731     0.999414     1.00000

### find the distribution of binomial column from the dataframe and print to the console

> use value_counts()

In [76]:
df3.value_counts()

normal     uniform   binomial
-0.469474  0.709061  1.0         1
-0.234153  0.031586  1.0         1
-0.234137  0.936212  0.0         1
-0.138264  0.104568  0.0         1
 0.496714  0.167483  0.0         1
 0.542560  0.870969  0.0         1
 0.647689  0.636430  0.0         1
 0.767435  0.541296  0.0         1
 1.523030  0.706476  0.0         1
 1.579213  0.051971  0.0         1
dtype: int64

### extract the first 50 rows from the dataframe and save to the "dataframe50.csv" file

>use to_csv()

In [79]:
df3.iloc[:50].to_csv('dataframe50.csv')

### load the "dataframe50.csv" to a new variable and print to the console

In [84]:
a = pd.read_csv('dataframe50.csv')
print(a)

    Unnamed: 0    normal   uniform  binomial
0            0  0.496714  0.167483       0.0
1            1 -0.138264  0.104568       0.0
2            2  0.647689  0.636430       0.0
3            3  1.523030  0.706476       0.0
4            4 -0.234153  0.031586       1.0
5            5 -0.234137  0.936212       0.0
6            6  1.579213  0.051971       0.0
7            7  0.767435  0.541296       0.0
8            8 -0.469474  0.709061       1.0
9            9  0.542560  0.870969       0.0
10          10       NaN       NaN       NaN